{>main}
<div class="container-fluid">
    <div class="row">
        <div id="{{panel_id}}_tree" class="col-sm-8 definition-tree"></div>
        <div id="{{panel_id}}_constraint_properties" class="col-sm-4 constraint-properties">
        </div>
    </div>
</div>