{>main}
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#{{panel_id}}_adl_source" data-toggle="tab">Differential ADL</a></li>
    <li role="presentation"><a href="#{{panel_id}}_adl_flat" data-toggle="tab">Flat ADL</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in padded"
         id="{{panel_id}}_adl_source">
        Source Adl
    </div>
    <div role="tabpanel" class="tab-pane fade in padded"
         id="{{panel_id}}_adl_flat">
        Flat Adl
    </div>
</div>
