<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-6 control-label">Allowed values</label>

		<div class="col-sm-3">
			<input type="checkbox" id="{{panel_id}}_true_valid" class="data">True
		</div>
		<div class="col-sm-3">
			<input type="checkbox" id="{{panel_id}}_false_valid" class="data">False
		</div>
	</div>
	<div class="form-group">
		<label for="{{panel_id}}_assumed_value" class="col-sm-6 control-label">Assumed value</label>

		<div class="col-sm-6">
			<select id="{{panel_id}}_assumed_value" class="form-control data">
			</select>
		</div>
	</div>
</div>