<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="modal.close()" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Load archetype</h4>
			</div>
			<div class="modal-body">
			  <div class="row properties-line no-border">
			    <div class="properties-label"><label>Archetype Id</label></div>
			    <div class="properties-value">
						<select class="form-control"
						        ng-model="modal.selected"
						        ng-options="option.archetypeId as option.archetypeId for option in modal.options">
						</select>
				  </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="modal.close()" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" ng-click="modal.loadArchetype()" class="btn btn-primary" data-dismiss="modal">Load</button>
			</div>
		</div>
	</div>
</div>