<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ ADL Designer
  ~ Copyright (c) 2013-2014 Marand d.o.o. (www.marand.com)
  ~
  ~ This file is part of ADL2-tools.
  ~
  ~ ADL2-tools is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Ihe Connector Core</display-name>

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>file://${env:ADL_DESIGNER_APPHOME}/conf/log4j2.xml</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:designer.xml
        </param-value>
    </context-param>

    <!--<context-param>-->
    <!--<param-name>resteasy.servlet.mapping.prefix</param-name>-->
    <!--<param-value>/rest</param-value>-->
    <!--</context-param>-->

    <listener>
        <listener-class>org.openehr.designer.web.InitializationListener</listener-class>
    </listener>


    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>org.openehr.designer.web.AuthorizationFilter</filter-class>
    </filter>


    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/template-editor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>


    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/template-editor</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>template-editor</welcome-file>
    </welcome-file-list>

</web-app>


